/*
#------------------------------------------------------------------------
# Music Free - #1 Free Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2012 Gavick.com. All Rights Reserved.
# License:  GPL v.2.0
# Website:  http://www.gavick.com
# Support:  support@gavick.com
 */
 
/* Form */
textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
	border-top-color: #ccc;
	color: #555;
	font-size: 14px;
	height: 34px;
	line-height: 35px;
	max-width: 100% !important;
	padding: 0 12px;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	max-width: 100% !important;
	padding: 24px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
	background: #fffef4;
}
button,
input.button,
span.button,
button.button,
div.button,
input[type="submit"],
input[type="button"],
.pagenav-prev a,
.pagenav-next a,
a.readon,
.itemReadMore  {
	background: #222;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 1px 5px 2px 2px;
	padding: 0 12px;
	text-align: center;
	-webkit-transition: background-color 0.12s ease-out;
	-moz-transition: background-color 0.12s ease-out;
	-ms-transition: background-color 0.12s ease-out;
	-o-transition: background-color 0.12s ease-out;
	transition: background-color 0.12s ease-out;
}
button:visited,
input.button:visited,
span.button:visited,
button.button:visited,
div.button:visited,
input[type="submit"]:visited,
input[type="button"]:visited,
.pagenav-prev a:visited,
.pagenav-next a:visited,
a.readon:visited,
.itemReadMore:visited {
	color: #fff!important;
}
button:hover,
input.button:hover,
span.button:hover,
button.button:hover,
div.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.pagenav-prev a:hover,
.pagenav-next a:hover,
a:hover.readon,
.itemReadMore:hover {
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1)
}
input[type=checkbox],
.checkbox,
input[type=radio],
.radio {
	background: transparent !important;
	border: none !important;
	height: auto !important;
	margin-top: 7px !important;
}
select {
	border: 1px solid #e7e7e7;
	border-top-color: #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	font-size: 12px!important;
	max-width: 100% !important;
	padding: 2px;
}
html.-moz- select {
	padding: 5px;
}
select[size] {
	font-size: 12px;
	height: auto;
}
select[size="1"] {
	height: 26px !important;
	line-height: 24px;
}
.invalid {
	background: #fffef4;
	border: 1px solid #e25527 !important;
	color: #000;
}
label {
	font-size: 13px;
}
label.invalid {
	background: #fff;
	border: none !important;
	color: #e25527 !important;
}
legend.hidelabeltxt {
	display: none;
}
fieldset.filters {
	margin-bottom: 20px;
}
fieldset.filters > div > * {
	float: left;
	margin-right: 10px;
}
fieldset.filters > div > select {
	margin-top: 4px;
}

/* Common */
section article {
	margin-top: 60px;
}
section article:first-child {
	margin-top: 0;
}
section > header {
	margin: 0 0 32px;
	padding: 0;
}
section > header h1 {
	line-height: 56px;
}
section > header h2 small {
	color: #666;
	font-size: 20px;
}
section > header div img {
	float: left;
	margin: 0 20px 20px 0;
}
section > header div p {
	font-size: 14px;
}
section img { /* to avoid problems with too big images in category/blog view */
	height: auto !important;
	max-width: 100% !important;
}

/* Categories list */
section.categories-list ul {
	clear: both;
}
section.category .children,
section.blog .children {
	clear: both;
	margin-top: 32px;
}
section.categories-list ul ul li {
	border: none;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	margin-left: 24px;
	padding-left: 18px;
}
section.categories-list ul ul li a {
	font-size: 12px;
}
section.categories-list li,
section.category .children li,
section.blog .children li {
	border-top: 1px solid #eee;
	clear: both;
	line-height: 1.4;
	overflow: hidden;
	padding: 12px 0;
}
section.categories-list li:first-child,
section.category .children li:first-child,
section.blog .children li:first-child {
	border-top: none !important;
}

/* category title */
section.categories-list li > a,
section.category .children li > a,
section.blog .children li > a {
	font-size: 14px;
}

/* category desc */
section.categories-list li > div p,
section.category .children li > div p,
section.blog .children li > div p {
	color: #999;
	font-size: 11px;
	line-height: 1.2;
	margin: 0;
}

/* category items counter */
section.categories-list li > dl,
section.category .children li > dl,
section.blog .children li > dl {
	font-size: 11px;
	margin: 0;
}
section.categories-list li > dl > dt,
section.category .children li > dl > dt,
section.blog .children li > dl > dt {
	float: left;
}
section.categories-list li > dl > dd,
section.category .children li > dl > dd,
section.blog .children li > dl > dd {
	float: left;
	font-weight: bold;
	margin-left: 5px;
}

/* Category */
/* Information showed if no items in category */
section.category .children h3,
section.blog .children h3 {
	font-size: 24px;
	line-height: 24px;
	margin: 20px 0;
}

/* Filters */
.filters .hidelabeltxt {
	display: none;
}
.filters .display-limit {
	float: right;
}
.filters .display-limit select {
	display: inline !important;
	float: none;
}

/* Tables */
table {
	margin-bottom: 20px;
	width: 100%;
}
th {
	background: #222;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 5px 10px;
	text-align: left;
}
.category th a {
	color: #fff;
}
tbody tr td {
	border-bottom: 1px solid #eee;
	padding: 6px 10px;
}
tbody tr td p {
	margin: 0.5em 0;
}

/* Blog */
section.blog .leading {
	margin-bottom: 20px;
}
section.blog .items-row {
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}
section.blog .items-row article header li {
	border: none;
	padding: 0 0 3px;
}
section.blog .items-more {
	clear: both;
}
section.blog .items-more h3 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}
section.blog .items-more ol {
	margin-top: 0;
}

/* Articles */
article {
	position: relative;
}
article header {
	margin: 12px 0 18px;
}
article header h1 {
	clear: both;
	line-height: 46px;
}
article header h2 {
	line-height: 46px;
}
article header h1 a,
article header h2 a {
	color: #353639;
}
article header ul {
	margin: 6px 0;
	overflow: hidden;
	position: relative;
}
article header li {
	color: #aeaeae;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1;
	padding: 6px;
}
article header > ul > li:before {
	color: #b5b5b5;
	content: '|  ';
	white-space: pre;
}
article header li:first-child:before {
	content: '';
}
li.print-icon,
li.email-icon {
	padding: 2px 6px;
}
article header li a {
	color: #222;
}
article header + div,
article header + p {
	clear: both;
}
.img-intro-none {
	float: none;
}
.img-intro-none img {
	float: none !important;
	margin: 0 auto;
}
.img-intro-left {
	float: left;
	margin: 0 20px 20px 0;
}
.img-intro-right {
	float: right;
	margin: 0 0 20px 20px;
}
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right {
	float: none;
	margin: 0 0 46px;
	overflow: hidden;
	position: relative;
}
.img-fulltext-none > div,
.img-fulltext-left > div,
.img-fulltext-right > div {
	float: none !important;
	width: 100% !important;
}
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
	display: block;
	height: auto !important;
	max-width: 100% !important;
	width: 100% !important;
}
p.img_caption {
	bottom: 24px;
	color: #fff;
	font-size: 12px;
	left: 0;
	margin: 0;
	padding: 5px 12px;
	position: absolute;
}
.item-page ul {
	list-style-type: none;
}
.content-links {
	margin-bottom: 20px;
}
.filter-search .filter-search-lbl {
	margin-top: 5px;
}

/* Weblinks */
.edit fieldset > div {
	clear: both;
	padding: 5px 0;
}
.edit fieldset > div label {
	display: block;
	float: left;
	min-width: 120px;
}

/* User */
section.login .login-fields {
	padding-bottom: 16px;
}
section.login .login-fields label {
	display: block;
	float: left;
	line-height: 34px;
	min-width: 100px;
}
section.login ul {
	font-size: 11px;
	margin-top: 40px;
}
.profile-edit legend {
	color: #222;
	font-size: 24px;
}
.profile legend {
	color: #222;
	font-size: 24px;
}
.profile dt {
	clear: both;
	float: left;
	font-size: 95%;
	font-weight: bold;
	min-width: 200px;
}

/* Contact */
.contact .jicons-icons {
	display: none;
}
.contact-image {
	float: right;
}
dt.inline {
	float: left;
}
.contact h3 {
	border-top: 1px solid #eee;
	margin: 30px 0 0;
	padding: 12px 0 0;
}
#jform_contact_email_copy {
	margin-left: 10px;
}

/* Newsfeed */
section.newsfeed > ol {
	list-style: none;
}
section.newsfeed > ol > li {
	border-top: 1px solid #eee;
	padding: 24px 0 0;
}
section.newsfeed > ol > li > a {
	font-size: 42px;
}

/* IFrame */
section.contentpane iframe {
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* tooltips */
.tip {	
	background: #fff;
	border: 1px solid #eee;
	-webkit-box-shadow: 1px 1px 1px #888;
	-moz-box-shadow: 1px 1px 1px #888;
	-ms-box-shadow: 1px 1px 1px #888;
	-o-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	max-width: 350px;
	padding: 8px;
}
.tip-title {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 5px 15px;
}
.tip-text {
	color: #555;
	font-size: 12px;
	padding: 5px 0;
}

/* System messages */
#system-message dt {
	display: none;
}
#system-message {
	margin: 0;
}
#system-message dd ul {
	list-style: none !important;
}
#system-message dd {
	background: #353636;
	color: #fff;
	font-size: 16px;
	margin: 0 -16px;
	padding: 5px 12px;
	text-align: center;
}
#system-message dd.error {
	color: #fff;
}
#system-message dd.notice {
	background: #fff;
	color: #333;
}
#system-message-container {
	margin: 0;
	padding: 0;
}

/* Pagination */
.item-page > div.pagination {
	display: none !important;
}
.pagination {
	clear: both;
	margin: 48px 0 0;
}
.pagination ul {
	background: #222;
	text-align: center;
}
.pagination ul li {
	display: inline-block;
	color: #888;
	cursor: default;
}
.pagination ul li a,
.pagination ul li span {
	border-left: 1px solid #444;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 2px 12px;
	text-align: center;
}
.pagination ul li a {
	color: #fff;
}
.pagination ul li a:hover {
	background: #7cadde;
}
.pagination ul li.counter {
	float: right;
	line-height: 42px;
	font-size: 11px;
	margin-right: 12px;
}
ul.pagenav {
	margin-bottom: 15px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul.pagenav .pagenav-next {
	float: right;
}

/* Register */
#member-registration legend {
	font-size: 32px;
	line-height: 32px;
	color: #353639;
}
#member-registration dt,
#member-registration dd {
	display: inline-block;
	padding-bottom: 10px;
}
#member-registration dt {
	min-width: 170px;
}
#member-registration dd {
	min-width: 200px;
}
#member-registration dd:after {
	content: '\A';
	white-space: pre;
}
#member-registration fieldset + div {
	line-height: 35px;
}
#member-profile > div {
	line-height: 35px;
}
#gkMainbody .registration {
	width: 500px;
}

/* Banners */
.bannergroup:first-line,
.bannergroup_text:first-line {
	font-size: 14px;
	color: #333;
}
div.banneritem {
	border-top: 1px solid #f0f0f0;
	padding: 8px 0;
	font-size: 11px;
	color: #999;
}
div.banneritem a {
	font-size: 13px;
}
div.bannerfooter {
	border-top: 1px solid #f0f0f0;
	font-size: 11px;
	font-style: italic;
	padding-top: 5px;
	text-align: right;
}

/* Social API */
#gkSocialAPI {
	border-top: 1px solid #eee;
	margin: 20px 0 10px;
	padding: 20px 0 0;
	clear: both;
}
#gkSocialAPI > iframe,
#gkSocialAPI > #___plusone_0,
#gkSocialAPI > #___plus_0  {
	position: relative;
	top: -5px;
}
#gkSocialAPI > #___plus_0 {
	margin-right: 15px;
}

/* reCAPTCHA */
#dynamic_recaptcha_1,
#recaptcha_area {
	margin-bottom: -30px;
	max-width: 480px;
	min-height: 112px;
}
#gkMainbody #dynamic_recaptcha_1,
#gkMainbody #recaptcha_area {
	margin-bottom: 10px;
}

/* Page break */
.pane-sliders {
	margin-bottom: 20px;
}
.pane-sliders .panel h3 {
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	color: #353639;
	padding: 5px 0;
}
.pagenavcounter {
	font-size: 12px;
}
#article-index {
	float: right;
	margin: 0 0 30px 30px;
	padding: 0 0 0 24px;
	width: 180px;
	border-left: 3px solid #222;
}
#article-index ul {
	margin: 0;
	padding: 0;
}
#article-index li {
	border-top: 1px solid #eee;
	line-height: 3;
	font-size: 12px;
}
#article-index li a {
	color: #353639;
}
#article-index li a.active {
	font-weight: bold;
	color: #333;
}
#article-index li:first-child {
	border-top: none;
	margin-top: 10px;
}
dl#tabs,
dl.tabs {
	margin: 0 0 10px 0;
	min-height: 30px;
	overflow: hidden;
}
dl#tabs dt.tabs,
dl.tabs dt.tabs {
	float: left;
	margin: 10px 6px 0 0;
	padding: 0 8px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	border-radius: 24px;
	border: 1px solid #e5e5e5;
}
dl#tabs dt.tabs span h3,
dl.tabs dt.tabs span h3 {
	margin: 0;
	padding: 0;
	font-size: 115%;
}
dl#tabs dt.tabs span h3 a,
dl.tabs dt.tabs span h3 a {
	float: left;
	padding: 0 15px;
	height: 30px;
	line-height: 29px;
}
dl#tabs dt.tabs h3:hover a,
dl.tabs dt.tabs h3:hover a {
	cursor: pointer;
}
dl#tabs dt.tabs.open a,
dl.tabs dt.tabs.open a {
	color: #353639;
}

/* Search & smart search */
#finder-search fieldset label[for="q"] {
	margin-top: 5px;
}
#searchForm fieldset input[type="radio"],
#searchForm fieldset input[type="checkbox"] {
	margin-top: 11px !important;
}
#search-form fieldset.word label,
#search-form fieldset.word input,
#search-form fieldset.word button {
	float: left;
	margin-right: 5px;
}
#searchForm label,
#searchForm input {
	float: left;
	margin: 0 5px 0 0;
}
#searchForm label {
	margin-top: 5px;
}
#searchForm fieldset,
.search-results dt {
	margin: 12px 0 0;
	padding: 12px 0 6px;
	border-top: 1px solid #e5e5e5;
}
fieldset.phrases,
fieldset.only {
	border: 1px solid #e5e5e5;
	padding: 12px 24px 24px !important;
}
#searchForm fieldset.word {
	border: none;
	padding: 20px 0;
}
#searchForm fieldset legend {
	color: #222;
	padding: 0 6px;
}
.search-results dt:first-child {
	border-top: none;
}
.searchintro strong {
	font-weight: 400;
	font-size: 16px;
	color: #222;
}
.form-limit {
	float: right;
	margin: 24px 0 0;
}
.result-category,
.result-created {
	color: #AFAFAF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.result-created {
	float: right;
	margin: 6px 0 0;
	font-size: 11px;
}
.result-title {
	clear: both;
	color: #222;
}
#advanced-search-toggle {
	font-size: 11px;
	display: block;
	padding: 10px 0;
	text-align: center;
}
.advanced-search-tip {
	padding: 12px 0;
	margin: 0 0 24px;
	font-size: 12px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.advanced-search-tip p {
	margin: 0;
}
#finder-filter-select-list label {
	float: left;
	font-size: 12px;
	min-width: 140px;
	line-height: 36px;
	clear: both;
}
#finder-filter-select-list li {
	padding: 0;
	overflow: hidden;
}
#search-query-explained {
	font-size: 11px;
	padding: 10px 0;
	border-bottom: 4px solid #eee;
}
#search-result-empty h2 {
	font-size: 18px;
}
div.search-pages-counter {
	text-align: center;
	font-size: 12px;
	font-style: italic;
}
.search-results .highlight {
	background-color: #ffc;
	font-weight: bold;
	padding: 1px 4px;
}

/* Archive */
.archive article {
	border-top: 1px solid #eee;
	padding: 32px 0 0;
}

/* Fix for the responsive layotu */
.img-intro-left,
.img-intro-right,
.img-intro-center {
	max-width: 100%!important;
}

/* Menu module */
#gkPageContent .menu,
#gkPageContent .level0 {
	margin: -16px;
}
#gkPageContent .menu li,
#gkPageContent .level0 li {
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: bold;
	-webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	-ms-transition: padding-left 250ms ease-out;
	-o-transition: padding-left 250ms ease-out;
	transition: padding-left 250ms ease-out;
	background: #f9f9f9)
}
#gkPageContent .menu li:first-child,
#gkPageContent .box.dark .menu li:first-child,
#gkPageContent .box.color2 .menu li:first-child,
#gkPageContent .level0 li:first-child,
#gkPageContent .box.dark .level0 li:first-child,
#gkPageContent .box.color2 .level0 li:first-child {
	border: none
}
#gkPageContent .menu li:hover,
#gkPageContent .level0 li:hover {
	padding-left: 12px;
}
#gkPageContent .menu li a,
#gkPageContent .level0 li a {
	color: #222;
	display: block;
	padding: 8px 16px;
}
#gkPageContent .box.dark .menu li,
#gkPageContent .box.dark .level0 li {
	border-top: 1px solid #353535;
	background: #252525
}
#gkPageContent .box.dark .menu li a,
#gkPageContent .box.dark .level0 li a {
	color: #999;
	display: block;
	padding: 8px 16px;
}
#gkPageContent .box.dark .menu li a:hover,
#gkPageContent .box.dark .level0 li a:hover {
	color: #fff;
}
#gkPageContent .box.color2 .menu li,
#gkPageContent .box.color2 .level0 li {
	border-top: 1px solid #92bdec;
}
#gkPageContent .box.color2 .menu li a,
#gkPageContent .box.color2 .level0 li a {
	color: #fff;
	display: block;
	padding: 8px 16px;
}
#gkPageContent .box.color2 .menu li a:hover,
#gkPageContent .box.color2 .level0 li a:hover {
	color: #fff;
}
/* language manager styling */
.mod-languages {
     display: inline-block;
     float: left;
     margin-right: 10px;
}
.mod-languages form {
     margin:  0px 8px;
     float: left;
}

.mod-languages select {
     font-size: 11px;
     line-height: 18px;
     height: 28px;
     padding: 5px;
     -webkit-box-shadow: inset 0 3px 5px #eee;
     -moz-box-shadow: inset 0 3px 5px #eee;
     box-shadow: inset 0 3px 5px #eee;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}

.mod-languages div.pretext,
.mod-languages div.posttext {
     display: inline-block;
     padding: 0 3px;
     float: left;
}

.mod-languages div.pretext p,
.mod-languages div.posttext p {
     margin: 0;
     padding: 0;
}

.mod-languages ul.lang-inline,
.mod-languages ul.lang-block {
     display: inline-block;
     float: left;
}

div.mod-languages > ul.lang-block > li,
div.mod-languages > ul.lang-inline > li {
     float:  left;
     line-height: 32px;
     margin: 0 5px;
}

.mod-languages ul li.lang-active {
     font-weight: bold;
}

.mod-languages ul li a img {
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transform: scale(1);
     -moz-transition: -moz-transform 0.1s ease-out;
     -o-transition: -o-transform 0.1s ease-out;
     -webkit-transition: -webkit-transform 0.1s ease-out;
     transition: transform 0.1s ease-out
}

.mod-languages ul li a:hover img {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);

     -webkit-transition: -webkit-transform 0.6s ease-out;
     -webkit-transition: -webkit-transform 0.6s ease-out;
     -webkit-transition: -webkit-transform 0.6s ease-out;
     -webkit-transition: -webkit-transform 0.6s ease-out;
     transition: transform 0.6s ease-out;
}

.mod-languages ul li.lang-active a img {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
     -ms-transform: scale(1.1);
     transform: scale(1.1);
}


