/*
#------------------------------------------------------------------------
# Music Free - #1 Free Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2012 Gavick.com. All Rights Reserved.
# License:  GPL v.2.0
# Website:  http://www.gavick.com
# Support:  support@gavick.com
 */
 
.k2FeedIcon a,a.k2FeedIcon {
	background: url('../images/style1/rss.png') no-repeat 0 0;
	color: #999;
	display: block;
	float: right;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	padding: 0 0 0 32px;
}
.k2FeedIcon a:hover,a:hover.k2FeedIcon {
	color: #222;
}
.k2FeedIcon a {
	float: none;
}

/* item view */
h1 > sup {
	background: #db6161;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 6px;
	text-transform: uppercase;
	top: -2em;
}
ul li.itemResizer a {
	background: url('../images/style1/fonts.png') no-repeat 100% -1px;
	display: inline-block;
	height: 15px;
	text-indent: -9999em;
	width: 15px;
}
ul li.itemResizer span {
	padding: 0 6px 0 0;
}
ul li.itemResizer #fontIncrease {
	background-position: 0 -1px;
}
.smallerFontSize {
	font-size: 90% !important;
}
.largerFontSize {
	font-size: 115% !important;
}
.itemImageBlock {
	margin: 0 0 46px;
	overflow: hidden;
}
.itemImage {
	display: block;
	line-height: 0;
	overflow: hidden;
}
.itemImageBlock {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.itemImageBlock img {
	height: auto;
	max-width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100% !important;
}
.itemImageBlock img:hover {
	-webkit-transform: scale(1.25) rotate(-7deg);
	-moz-transform: scale(1.25) rotate(-7deg);
	-ms-transform: scale(1.25) rotate(-7deg);
	-o-transform: scale(1.25) rotate(-7deg);
	transform: scale(1.25) rotate(-7deg);
}
.itemImageCaption {
	background: #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #bbb;
	display: block;
	font-size: 12px;
	padding: 10px 24px;
	width: 100%;
}
.itemImageBlock > a {
	display: block;
	width: 100%;
}
.itemExtraFields ul li span.itemExtraFieldsValue,
.itemLinks .itemCategory a,
.itemLinks .itemAttachmentsBlock ul,
.itemLinks .itemTagsBlock ul {
	display: block;
	margin: 0 0 0 27%;
}
.itemBottom .itemRatingBlock span,
.itemBottom .itemRatingBlock .itemRatingList,
.itemBottom .itemRatingBlock .itemRatingForm ul.itemRatingList li,
.itemLinks .itemCategory span,.itemLinks .itemAttachmentsBlock > span,
.itemExtraFields ul li span.itemExtraFieldsLabel,
.itemLinks .itemTagsBlock span,
.itemLinks .itemTagsBlock ul li,
.latestView .itemsContainer {
	float: left;
}
.itemBottom {
	clear: both;
	margin: 0 0 6px;
}
.itemLinks {
	clear: both;
	margin: 0 0 38px;
}
.itemLinks .itemTagsBlock,
.itemLinks .itemSocialSharing {
	clear: both;
	overflow: hidden;
}
.itemSocialSharing {
	border-top: 1px solid #e5e5e5;
	min-height: 38px;
	margin: 42px 0 0 !important;
	overflow: visible!important;
	padding: 20px 0 0 0;
}
.itemExtraFields {
	margin: 0 0 24px;
	padding: 8px;
}
.itemExtraFields h3 {
	padding: 0 0 8px;
}
.itemBottom small.itemDateModified {
	display: block;
	text-align: right;
}
.itemRatingBlock {
	overflow: hidden;
}
.itemRatingBlock span {
	float: left;
}
.itemRatingForm {
	display: block;
	line-height: 25px;
	margin-left: 26%;
	vertical-align: middle;
}
.itemRatingLog {
	float: left;
	line-height: 25px;
	margin: -2px 0 0;
	padding: 0 0 0 4px;
}
span#formLog {
	background: #7CADDE;
	clear: both;
	color: white;
	display: block;
	float: none;
	margin: 10px 0;
	position: relative;
	text-align: center;
	top: 10px;
}
.itemRatingForm .formLogLoading {
	background: url('../images/style1/loading.gif') no-repeat left center;
	height: 25px;
	padding: 0 0 0 20px;
}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {
	background: url('../images/style1/star.png') left -1000px repeat-x;
}
.itemRatingList {
	background-position: left top;
	float: left;
	height: 25px;
	list-style: none;
	margin: 0 6px !important;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 125px;
}
.itemRatingList li {
	background: none;
	border: none !important;
	display: inline;
	padding: 0;
}
.itemRatingList a,
.itemRatingList .itemCurrentRating {
	border: none;
	cursor: pointer;
	height: 25px;
	left: 0;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: -1000px;
	top: 0;
}
.itemRatingList a:hover {
	background-position: left center;
}
.itemRatingList a.one-star {
	width: 20%;
	z-index: 6;
}
.itemRatingList a.two-stars {
	width: 40%;
	z-index: 5;
}
.itemRatingList a.three-stars {
	width: 60%;
	z-index: 4;
}
.itemRatingList a.four-stars {
	width: 80%;
	z-index: 3;
}
.itemRatingList a.five-stars {
	width: 100%;
	z-index: 2;
}
.itemRatingList .itemCurrentRating {
	background-position: 0 bottom;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.itemTags li a,
.k2TagCloudBlock a,
.moduleItemTags a {
	font-size: 11px;
	font-weight: bold;
	margin: 0 12px 0 0;
	text-transform: uppercase
}
.k2TagCloudBlock a {
	background-image: none;
	color: #fff;
	font-weight: normal;
	height: auto;
	line-height: 1;
	padding: 2px 6px;
	text-transform: none;
}
.k2TagCloudBlock a:active,
.k2TagCloudBlock a:focus,
.k2TagCloudBlock a:hover {
	background: #222;
	color: #fff;
}
.itemExtraFields ul li {
	border-top: 1px solid #eee;
	list-style: none;
	padding: 5px 0;
}
.itemLinks ul li {
	list-style: none;
}
.itemLinks .itemAttachmentsBlock ul li a span {
	color: #676767;
}
.itemLinks .itemSocialSharing > div {
	float: left;
}
.itemAuthorBlock {
    background: url('../images/style1/pattern.png');
    clear: both;
    margin: 0 0 32px;
    overflow: hidden;
    padding: 24px;
}
.itemAuthorBlock > .gkAvatar {
	float: left;
	padding: 12px;
	max-width: 80px;
}
.itemAuthorBlock > .gkAvatar > img {
	display: block;
}
.itemAuthorBlock .itemAuthorDetails {
	line-height: 1.7;
	margin: 0 0 0 130px;
}
.itemAuthorBlock .itemAuthorDetails a {
	color: #353639;
	font-weight: 400;
}
.itemAuthorBlock .itemAuthorDetails a:hover {
	color: #7CADDE;
}
.itemAuthorBlock .itemAuthorDetails p {
	margin: 0.5em 0;
}
.itemAuthorUrl,
.itemAuthorEmail {
	font-size: 12px;
}
.itemAuthorContent {
	margin: 0 0 32px 0;
	overflow: hidden;
}
.itemAuthorContent div {
	float: left;
	margin-right: 4%;
	width: 45%;
}
.itemAuthorContent div ul {
	font-size: 13px;
}
.itemAuthorContent div ul li {
	line-height: 1.7;
	list-style: inside;
	padding: 5px 0;
}
.itemAuthorContent div ul li a,
.itemNavigation {
	clear: both;
	font-size: 12px;
	padding: 0;
}
.itemAuthorContent div ul li a:hover {
	color: #353639;
}
.itemCommentsForm label {
	clear: both;
	display: block;
}
.itemCommentsForm textarea,
.itemCommentsForm .inputbox {
	float: left;
}
.itemCommentsForm textarea.inputbox {
	height: 200px;
}
.itemCommentsForm .inputbox {
	width: 400px;
}
.itemCommentsForm #submitCommentButton {
	clear: both;
	float: left;
	margin: 20px 0 0;
}
.itemCommentsForm .itemCommentsFormNotes {	
	font-size: 11px;
	font-style: italic;
	margin: 24px 0;
}
#itemCommentsAnchor {
	clear: both;
	margin: 48px 0 0;
}
.itemComments h3 {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	border: 1px solid #ddd;
	color: #222;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 14px 16px 12px;
	text-transform: uppercase;
	text-shadow: 0 0 1px #fff
}
#gkMainbody #k2Container .itemComments > ul.itemCommentsList {
	margin-left: 0!important;
}
#k2Container .itemComments .itemCommentsList li {
	background-image: none!important;
	border-bottom: 1px solid #ddd!important;
	padding: 24px!important;
}
#k2Container .itemComments .itemCommentsList li.odd {
	background: #fbfbfb!important;
}
.itemComments .itemCommentsList li > span.gkAvatar {
	float: left;
	margin: 14px 12px 0 0;
}
.itemComments .itemCommentsList li > span > img {
	display: block;
}
.itemComments .itemCommentsList li > div {
	margin: 0 0 0 82px;
}
.itemComments .itemCommentsList li div div {
	text-align: right;
}
.itemComments .itemCommentsList li div div span {
	color: #999;
	font-size: 11px;
	margin-left: 24px;
}
.itemBackToTop {
	float: right;
}

/* Items views */
.itemList article header h2,
.itemsContainerWrap article header h1 {
	font-size: 26px;
    line-height: 32px;
    margin: 0;
}
.itemList ul.itemTags {
	clear: both;
	padding: 12px 0 0 0;
}
.itemTags {
	padding-left: 4px !important;
}
.itemList ul.itemTags li {
	float: left;
}
.clr {
	clear: both;
}
.itemListSubCategories {
	overflow: hidden;
}
.userView article,
.genericView article,
.itemList article {
	clear: both;
	margin-bottom: 24px;
	overflow: hidden;
}

/*.itemListSubCategories h2*/
.subCategoryContainer {
	float: left;
	margin-bottom: 32px;
}
.subCategoryContainer .subCategory {
	margin: 0 32px 24px 0;
}
.itemContainer {
	float: left;
}
.itemList article {
	border-bottom: 1px solid #eee;
	padding-bottom: 24px;
}
.latestView .itemsContainerWrap {
	margin: 0 32px 0 0;
}
itemContainerLast article {
	margin: 0;
}
#itemListLinks {
	clear: both;
}
#itemListLinks ul {
	margin: 12px 0 0 0;
}
#itemListLinks li {
	background: url('../images/style1/typography/bullet-square2.png') no-repeat 0 6px;
	font-size: 13px;
	padding-left: 24px;
}
#itemListLinks a {
	color: #737373;
}
#itemListLinks a:hover {
	color: #353639;
}

/* Modules */
/*----------------------------------------------------------------------
Modules:  mod_k2_comments
----------------------------------------------------------------------*/
/* Latest Comments & Author module*/
.k2LatestCommentsBlock .k2FeedIcon {
	margin-top: 16px;
}
.k2LatestCommentsBlock ul li,
.k2TopCommentersBlock ul li {
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.5 !important;
	list-style: none !important;
	padding: 20px 0 !important;
}
.k2Avatar {
	display: block !important;
	float: left;
	margin: 0 24px 0 0;
}
.k2CommentItem p {
	margin: 0 0 8px;
}
.k2CommentItem span {
	color: #353639;
	display: block;
	font: bold 12px Verdana, Geneva, sans-serif;
	padding: 0 0 12px;
}
.k2CommentItem span a {
	color: #353639;
}
.k2CommentItem a {
	color: #737373;
}
.k2CommentItem a:hover {
	color: #7CADDE;
}
.k2CommentItem span.lcCommentDate {
	color: #999;
	font-size: 10px;
	font-weight: normal;
}
.k2AuthorsListBlock ul li {
	border: none;
	border-bottom: 1px solid #eee;
	padding: 12px 0;
}
.k2AuthorsListBlock ul li a.abAuthorLatestItem {
	clear: both;
	display: block;
	font-size: 11px;
	line-height: 14px;
	margin: 12px 0 0;
	padding: 0 0 0 12px;
}
.k2AuthorsListBlock ul li a.abAuthorLatestItem span {
	color: #777;
	display: block;
	font-size: 10px;
}

/* Top Commenters */
.tcUsername {
	color: #333;
	font-size: 18px;
}
.tcLatestComment {
	display: block;
	color: #737373;
	font-size: 13px;
	margin: 6px 0;
}
.tcLatestCommentDate {
	color: #999;
	display: block;
	font-size: 11px;
}

/*----------------------------------------------------------------------
Modules:  mod_k2_content
----------------------------------------------------------------------*/
div .k2ItemsBlock ul {
	margin-right: -20px;
}
div .k2ItemsBlock ul li {
	background: none !important;
	list-style: none !important;
	margin: 0 0 12px;
	padding: 12px 20px 12px 0 !important;
}
a.moduleItemTitle {
	color: #353639;
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}
.moduleItemAuthor {
	border-bottom: 1px solid #e5e5e5;
	font-size: 11px;
	margin: 0 0 16px;
	overflow: hidden;
}
.moduleItemAuthor a {
	color: #353639;
	display: block;
	font: bold 12px Verdana,Geneva,sans-serif;
	padding: 0 0 12px;
}
.moduleItemAuthor p {
	clear: both;
}
.moduleItemIntrotext {
	display: block;
	padding: 12px 0 0;
	line-height: 1.6;
}
.moduleItemIntrotext a.moduleItemImage img {
	float: left;
	overflow: hidden;
	margin: 4px 0;
}
.moduleItemDateCreated,
.moduleItemCategory {
	color: #999;
	font: normal 10px Verdana,Geneva,sans-serif;
}
.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	display: block;
	float: left;
	font-weight: bold;
	margin: 0 4px 0 0;
	width: 30%;
}
.moduleItemTags,
.moduleAttachments {
	border-top: 1px solid #e5e5e5;
	margin: 12px 0 0;
	overflow: hidden;
	padding: 12px 0 0;
}
.moduleItemTags strong {
	color: #353639;
	font-size: 12px;
}
.moduleItemTags a {
	float: right;
}
a.moduleItemComments {
	font-size: 12px;
}
a:hover.moduleItemComments {
	background-position: 0 100%;
	color: #fff;
}
.k2ItemsBlock ul li span.moduleItemHits {
	font-size: 90%;
}
.moduleItemImage {
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}
.moduleItemReadMore {
	clear: both;
	display: block;
}

/*---Modules:  mod_k2_login ---*/
.k2LoginBlock fieldset.input {
	margin: 0;
	padding: 0 0 8px 0;
}
.k2LoginBlock fieldset.input p {
	margin: 0;
	padding: 0 0 4px 0;
}
.k2LoginBlock fieldset.input p label,
.k2LoginBlock fieldset.input p input {
	display: block;
}
.k2LoginBlock fieldset.input p#form-login-remember label,
.k2LoginBlock fieldset.input p#form-login-remember input {
	display: inline;
}
.k2UserBlock p.ubGreeting {
	border-bottom: 1px dotted #eee;
}
.k2UserBlock .k2UserBlockDetails span.ubName {
	display: block;
	font-weight: bold;
	font-size: 14px;
}
.k2LoginBlock ul li {
	font-size: 11px;
}
.k2UserBlock .k2UserBlockActions li,
.k2UsersBlock .ubUserItems li,
.k2UsersBlock .ubUserAdditionalInfo a {
	background: url("../images/style1/typography/bullet-square1.png") no-repeat 0 4px;
	font-size: 12px;
	padding-left: 16px;
}
.k2UserBlock .k2UserBlockActions {
	margin-bottom: 10px;
}
.k2UserBlock .ubAvatar {
	margin-right: 12px;
}
.k2UserBlock .ubName {
	font-size: 13px;
}
.k2UserBlock .k2UserBlockDetails > span {
	display: block;
	font-size: 11px;
	line-height: 16px;
	margin: 3px 0;
}

/* ---Modules:  mod_k2_tools ---*/
/* ---Breadcrumbs ---*/
.k2BreadcrumbsBlock span.bcTitle {
	color: #999;
	padding: 0 4px 0 0;
}
.k2BreadcrumbsBlock span.bcSeparator {
	font-size: 14px;
	padding: 0 4px;
}

/* ---Calendar ---*/
.k2CalendarBlock {
	margin-bottom: 8px;
}

/* use this height value so that the calendar height won't change on Month change via ajax */
.k2CalendarLoader {
	background: #fff;
}
.k2CalendarBlock table.calendar {
	background: #fff;
	border-collapse: collapse;
	border-left: 1px solid #eee;
	margin: 0 auto;
	width: 100%;
}
.k2CalendarBlock table.calendar tr td {
	background: #fff;
	border: 1px solid #eee;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
}
.k2CalendarBlock table.calendar tr td.calendarNavMonthPrev,
.k2CalendarBlock table.calendar tr td.calendarNavMonthNext {
	background: #fff;
	font-size: 15px !important;
	text-align: center;
}
.k2CalendarBlock table.calendar tr td.calendarDayName {
	background: #f5f5f5;
	color: #333;
	font-size: 11px;
	font-weight: 600;
	width: 14.2%;
}
.k2CalendarBlock table.calendar tr td.calendarDateEmpty {
	background: #fbfbfb;
}
.k2CalendarBlock table.calendar tr td.calendarDate {
	font-size: 11px;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked {
	padding: 0;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked a {
	display: block;
	padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarDateLinked a:hover {
	background: #353639;
	color: #fff !important;
	display: block;
	padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarToday {
	color: #fff;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked {
	color: #fff;
	padding: 0;
}
table.calendar tr td.calendarTodayLinked a {
	color: #fff !important;
	display: block;
	padding: 2px;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked a:hover {
	background: #252525;
	color: #fff;
	display: block;
	padding: 2px;
}

/* restriction */
.gkColumns > aside .k2CalendarBlock table.calendar,
.gkColumns > aside .k2CalendarBlock table.calendar tr td {
	background: none;
	border: none;
	color: #fff;
}
.gkColumns > aside .k2CalendarBlock table.calendar tr td.calendarDateLinked a {
	font-size: 18px;
	font-weight: 700;
}
.gkColumns > aside .calendarNavMonthPrev,
.gkColumns > aside .calendarCurrentMonth,
.gkColumns > aside .calendarNavMonthNext {
	background: #353639 !important;
}
.k2TagCloudBlock a {
	background-image: none !important;
}

/* ---Category Tree Select Box ---*/
.k2CategorySelectBlock form select {
	width: auto;
}

/* ---Tag Cloud ---*/
.k2TagCloudBlock {
	font-size: 15px;
	padding: 8px 0 0 4px;
}
.k2TagCloudBlock a {
	float: left;
	margin-bottom: 6px;
}

/* ---Google Search ---*/
#k2Container .gsc-branding-text {
	text-align: right;
}
#k2Container .gsc-control {
	width: 100%;
}
#k2Container .gs-visibleUrl {
	display: none;
}

/* ---Modules:  mod_k2_users ---*/
/*a.ubUserFeedIcon,
a.ubUserFeedIcon:hover {
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px;
}
a.ubUserFeedIcon span,
a.ubUserFeedIcon:hover span {
	display: none;
}
a.ubUserURL,
a.ubUserURL:hover {
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
	width: 16px;
}
a.ubUserURL span,
a.ubUserURL:hover span {
	display: none;
}*/
a.ubUserURL,
a.ubUserFeedIcon {
	clear: both;
	display: block;
	font-size: 12px;
}
span.ubUserEmail {
	display: inline-block;
	height: 16px;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
	width: 16px;
}
span.ubUserEmail a {
	display: inline-block;
	height: 16px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
}
.k2UsersBlock ul li h3 {
	clear: both;
	margin: 8px 0 0 0;
	padding: 0;
}
.k2UsersBlock .ubUserDescription p {
	font-size: 12px;
}
.k2UsersBlock .ubUserAvatar {
	margin-right: 12px;
}
.k2UsersBlock .ubUserName {
	display: block;
	line-height: 11px;
}
.k2UsersBlock h3 {
	font-size: 16px;
}
.k2UsersBlock .ubUserItems {
	font-size: 12px;
}
.catCounter {
	font-size: 11px;
	font-weight: normal;
}

/* Rating form fix */
article header .itemRatingBlock > span {
	display: none;
}
article header .itemRatingBlock > div {
	margin: -16px 0 0 0;
}

/* Fix for the categories view */
.itemContainerLast:first-child .itemImageBlock,
.clr + .itemContainerLast .itemImageBlock {
	padding: 0;
}
.itemCommentsPagination ul li {
    display: inline-block;
    font-size: 80%;
    margin: 0 3px;    
}
.itemCommentsPagination ul  {
    text-align: right;    
}

/* Strange fix for K2 categories view in Firefox */
.-moz- #k2Container .pagination {
	display: inline-block;
	width: 100%;
}

#k2Container article header h2 {
	line-height: 46px; 
	clear: both;
	font-size: 46px;
}