/*
#------------------------------------------------------------------------
# Music Free - #1 Free Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2012 Gavick.com. All Rights Reserved.
# License:  GPL v.2.0
# Website:  http://www.gavick.com
# Support:  support@gavick.com
 */
 
/* Basic elements */
::selection {
	color: #fff;
}
body {
	background: #f5f5f5;
	color: #7d7b7a;
	font-size: 14px;
	line-height: 2;
	min-height: 100%;
	padding-bottom: 54px !important;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	-webkit-transform: translateZ(0);
}
a:hover,
a:active,
a:focus {
	color: #222;
}
h1,
h2,
h3,
h4,
h5 {
	color: #222;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 46px;
}
h2,
.componentheading {
	font-size: 42px;
	font-weight: 400;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 125%;
}
h5 {
	font-size: 110%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	line-height: 2.0;
}
p {
	margin: 0.5em 0 1.5em;
}

/* Containers */
#gkPageContent {
	width: 100%;
}
#gkPage {
	display: block;
	margin: 0 auto;
	overflow: visible;
}
#gkContent > div {
	background: #fff;
	border: 1px solid #ddd;
	padding: 16px;
}

/* Logo  */
#gkLogo {
	display: block;
	float: left;
	margin: 0 60px 0 0;
	text-indent: -999em;
	text-shadow: none;
}
#gkLogo img {
	display: block;
	margin: 0;
}
#gkLogo.cssLogo { /* You can specify there logo size and background */
	height: 50px;
	width: 100px;
}
#gkLogo.text {
	color: #fff;
	text-indent: 0;
	text-transform: uppercase;
}
#gkLogo.text > span {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 9px;
	text-align: center;
}
#gkLogo.text .gkLogoSlogan {
	color: #ddd;
	display: block;
	font-size: 9px;
	line-height: 9px;
}

/* top */
#gkPageTop {
	background: #222;
	background-image: -webkit-linear-gradient(bottom, rgb(34,34,34) 32%, rgb(45,45,45) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(34,34,34) 32%, rgb(45,45,45) 66%);
	background-image: -o-linear-gradient(bottom, rgb(34,34,34) 32%, rgb(45,45,45) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(34,34,34) 32%, rgb(45,45,45) 66%);
	background-image: linear-gradient(bottom, rgb(34,34,34) 32%, rgb(45,45,45) 66%);
	margin-bottom: 28px;
	min-height: 50px;
}
#gkToolbar {
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
	margin: -28px 0 28px;
	min-height: 36px;
}
#gkToolbar .social {
	float: right;
}
#gkToolbar > div:first-child {
	float: left;
}
#gkToolbar ul {
	float: left;
	min-height: 36px;
	overflow: hidden;
}
#gkUserLinks {
	float: right;
	font-size: 11px;
	font-weight: bold;
	line-height: 50px;
}
#gkUserLinks a {
	display: block;
	float: left;
	margin-left: 6px;
	padding-left: 24px;
}
#gkUserLinks a#btnLogin {
	background: url('../images/login.png') no-repeat 0 0;
}
#gkUserLinks a#btnRegister {
	background: url('../images/users.png') no-repeat 0 0;
}
#gkUserLinks a:hover {
	color: #fff;
}
#gkTopToolbar {
	float: left;
}

/* Toolbar */
#gkToolbar a {
	color: #666
}
#gkToolbar a:hover,
#gkToolbar a:active,
#gkToolbar a:focus {
	color: #222
}
#gkToolbar ul li {
	border-left: 1px solid #e5e5e5;
	color: #7D7B7A;
	float: left;
	font-size: 12px;
	line-height: 14px;
	margin: 11px 0 0;
	padding: 0 9px;
}
#gkToolbar ul li:first-child {
	border-left: none;
	padding-left: 0;
}

/* Mainbody lists */
#gkMainbody article > p > ul,
#gkMainbody article > div > ul,
#gkMainbody article > ul {
	margin: 0 0 24px 12px;
}
#gkMainbody article > p > ul li,
#gkMainbody article > div > ul li,
#gkMainbody article > ul li {
	background: url('../images/style1/typography/bullet-circle2.png') no-repeat 0 6px !important;
	line-height: 1.8em !important;
	list-style: none;
	margin: 0 !important;
	overflow: inherit;
	padding: 2px 0 2px 24px;	
}

/* standard breadcrumb */
#gkBreadcrumb {
	border-bottom: 1px solid #ddd;
	margin: 0 0 32px;
	padding: 0 0 12px;
}
#gkBreadcrumb .breadcrumbs {
	float: left;
	line-height: 22px;
}
#gkBreadcrumb .breadcrumbs li.separator {
	color: #ddd;
	display: block;
	float: left;
	margin: 0 5px;
}
#gkBreadcrumb .breadcrumbs > ul {
	line-height: 32px;
}
#gkBreadcrumb .breadcrumbs > ul > li {
	border-top: none;
	color: #222;
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	padding: 2px;
}
#gkBreadcrumb .breadcrumbs a {
	color: #8a8a8a;
	font-weight: normal
}
#gkBreadcrumb .breadcrumbs a:active,
#gkBreadcrumb .breadcrumbs a:focus,
#gkBreadcrumb .breadcrumbs a:hover {
	color: #333;
}
#gkTools {
	float: right;
}
#gkTools a {
	background: url('../images/font_size.png') no-repeat -38px 50%;
	display: block;
	float: left;
	height: 16px;
	margin: 0 0 0 0px !important;
	text-indent: -99999em;
	width: 22px;
}
a#gkToolsReset {
	background-position: -15px 50%;
	margin-left: 6px;
}
a#gkToolsDec {
	background-position: 6px 50%;
}

/* footer */
#gkFooter {
	background: #222;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #7D7B7A;
	font-size: 12px;
	height: 42px;
	line-height: 42px;
	margin: 10px 0 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#gkFooter a {
	color: #888
}
#gkFooter a:hover {
	color: #fff
}
#gkFooter > small {
	float: left;
	font-size: 24px;
	height: 52px;
	margin-left: 16px;
	text-shadow: 1px 1px 0 #fff;
}
#gkFooter > div {
	margin: 0 16px 0 0;
	min-height: 40px;
}
#gkFooter > p {
	float: right;
	margin: 0;
}
#gkFooter > p a {
	color: #ccc
}
#gkFooterMenu {
	display: none;
}
#gkTopLink {
	background: #181818 url('../images/toplink.png') no-repeat 50% 0;
	border: 1px solid #313131;
	border-bottom: none;
	border-top: none;
	display: block;
	float: left;
	height: 42px;
	margin: 0 18px 0 0;
	text-indent: -99999em;
	width: 36px;
}
a:hover#gkTopLink {
	background-position: 50% 100%
}
#gkFooter ul li {
	border-left: 1px solid #444;
	float: left;
	line-height: 14px;
	margin: 14px 0 0;
	padding: 0 9px;
}
#gkFooter ul li:first-child {
	border-left: none;
	padding-left: 0;
}

/* other footer elements */
#gkStyleArea {
	float: right;
	margin: 30px 0;
	text-align: center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#gkStyleArea > a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 8px;
	margin: 16px 5px 0 0;
	text-indent: -9999px;
	-webkit-transition: transform 0.125s ease-out;
	-moz-transition: transform 0.125s ease-out;
	-ms-transition: transform 0.125s ease-out;
	-o-transition: transform 0.125s ease-out;
	transition: transform 0.125s ease-out;
	width: 8px;
}
#gkStyleArea > a:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
#gkColor1 {
	background: #7cadde;
}
#gkColor2 {
	background: #bd5532;
}
#gkColor3 {
	background: #8d9274;
}
#gkFrameworkLogo {
	background: url('../images/gavern.png') no-repeat 0 -4px;
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	float: right;
	height: 42px;
	margin: 0 0 0 60px;
	opacity: 0.5;
	padding-bottom: 12px;
	text-indent: -9999em;
	width: 77px;
}
a:hover#gkFrameworkLogo {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	opacity: 1;
}
#gkSocial {
	position: absolute;
	text-align: center;
	top: 13px;
	width: 100%;
}
#gkSocial p {
	width: 100%;
}

/* Page suffixes */
.nobg #gkContent > div {
	background: transparent;
	border: none !important;
	overflow: visible;
	padding: 0;
}

/* Suffixes */
.box {
	overflow: hidden;
	width: 100%;
}
div.content {
	background: #fff;
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
	padding: 16px;
}
.box li a {
	text-decoration: none;
}
.box a {
	text-decoration: none;
}
#gkContent .box:first-child {
	padding-top: 0 !important;
}

/* clear spaces in the content */
#gkContent .box {
	padding: 0 !important;
}

/* default suffix */
.box .header {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	background-image: linear-gradient(bottom, rgb(247,247,247) 0%, rgb(251,251,251) 90%);
	border: 1px solid #ddd;
	border-bottom: none;
	color: #222;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 14px 16px 12px;
	text-shadow: 0 0 1px #fff;
	text-transform: uppercase;
}

/* clear suffix */
.box.clear {
	margin: 0;
}
.box.clear div.content {
	margin: 0;
	padding: 0;
}
.clear div.content {
	clear: both;
}
.clear .header {
	display: none;
}

/* transparent suffix */
.box.transparent {
	background: transparent !important;
}
.box.transparent div.content, .box.transparent h3.header  {
	background: transparent !important;
	border: none !important;
	padding: 0;
}
.box.transparent h3.header { 
	padding: 14px 0 12px;
}

/* advertisement suffix */
.box.advertisement .header {	
	background: none;
	border: none;
	color: #999 !important;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 9px !important;
	padding: 14px 0 7px;
	text-align: right;
	text-transform: uppercase;
}

/* suffix color1 */
.box.color1 h3.header {
	color: #fff;
	text-shadow: none;
}

/* suffix color2 */
.box.color2 h3.header {
	color: #fff;
	text-shadow: none;
}
.box.color2 ul li {
	padding: 2px 0 ;
}
.box.color2 ul li:first-child {
	border-top: none;
}
.box.color2 a {
	color: #fff;
}
.box.color2 b,
.box.color2 strong {
	font-weight: bold;
}

/* suffix dark */
.box.dark h3.header {
	background: #151515;
	border-color: #151515;
	color: #ccc;
	text-shadow: none;
}
.box.dark h3.header + .content { 
	border-top-color: #333;
}
.box.dark div.content {
	background: #222;
	border-color: #222;
	color: #999;
}
.box.dark ul li {
	border-top: 1px solid #444;	
	padding: 2px 0;
}
.box.dark ul li:first-child {
	border-top: none;
}
.box.dark a {
	color: #eee;
}
.box.dark b,
.box.dark strong {
	color: #eee;
	font-weight: bold;
}

/* suffix hot/top/new */
.box.hot,
.box.top,
.box.new {
	position: relative;
}
.box .box.hot:first-child:before,
.box .box.top:first-child:before,
.box .box.new:first-child:before {
	right: 16px;
	top: 0px;
}
.box .box.hot:before,
.box .box.top:before,
.box .box.new:before {
	right: 16px;
	top: 0px;
}
.box .box.hot,
.box .box.top,
.box .box.new {
	overflow: visible;
}
.box.hot:before,
.box.top:before,
.box.new:before {
	background: transparent url('../images/style1/badges.png') no-repeat 0 -110px;
	content: "";
	display: block;
	height: 24px;
	position: absolute;
	right: 16px;
	top: 15px;
	width: 42px;
}

/* suffix top */
.box.top:before {
	background-position: 0 -55px;
}

/* suffix new */
.box.new:before {
	background-position: 0 0;
}

/* tablet/mobile suffixes */
.notablet {
	display: block;
}
.nomobile {
	display: block;
}
.onlytablet {
	display: none;
}
.onlymobile {
	display: none;
}

/* Login form */
#gkFBLogin {
	float: left;
	width: 45%;
}
#gkFBLogin p {
	line-height: 18px;
	margin: 14px 0 20px;
}
#gkFBLogin + #login-form,
#gkFBLogin + #com-login-form {
	border-left: 1px solid #e7e7e7;
	float: left;
	margin-left: 4%;
	padding-left: 30px;
	width: 45%;
}
#form-login-remember {
	margin: 10px 0;
}
#form-login-remember label {
	color: #777;
	font-size: 11px;
	font-weight: normal;
	line-height: 27px;
}
#login-form fieldset {
	margin: 0 0 36px;
}
#login-form fieldset p {
	margin: 0.5em 0;
}
#login-form ul {
	border-top: 1px solid #E7E7E7;
	overflow: hidden;
	padding: 12px 0 0;
}
#login-form ul li {
	font-size: 11px;
	line-height: 1.6;
}
#login-form ul li a {
	color: #999;
}
#login-form ul li a:hover {
	color: #222;
}
#login-form input[type="text"],
#login-form input[type="password"] {
	width: 90%;
}
label#jform_spacer-lbl {
	color: #666;
	font-size: 11px;
	font-weight: normal;
}
.logout-button .login-greeting {
	float: left;
	font-size: 14px;
	margin-right: 32px;
}
.gkUsermenu {
	border-top: 1px solid #eee;
	clear: both;
	padding-top: 10px;
	position: relative;
	top: 10px;
}
.gkUsermenu li {
	background: url("../images/style1/typography/bullet-square1.png") no-repeat 0 4px;
	font-size: 12px;
	padding-left: 16px;
}

/* Login with Facebook button */
span#fb-auth small {
	background: transparent url('../images/fbauth.png') no-repeat 0 2px;
	border-right: 1px solid #a0aecd;
	display: block;
	float: left;
	height: 17px;
	margin: 2px 7px 0 0;
	text-indent: -999em;
	width: 20px;
}
span#fb-auth {
	background-color: #798db9;
	border: 1px solid #4d576b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	height: 17px;
	line-height: 22px;
	margin: 12px 0 6px;
	padding: 2px 24px 7px 12px;
	position: relative;
	top: -3px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #445375;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
span#fb-auth:hover {
	background-color: #556b9b;
}
.login span#fb-auth {
	margin: 6px 0 0 10px;
}

/* popup */
#gkPopupOverlay,
#gkPopupLogin {
	background: #fff;
	display: none;
	left: 50%;
	overflow: hidden;
	position: fixed;
	top: 50%;
	z-index: 1000002;
}
#gkPopupLogin {
	position: absolute;
	top: 100px;
}
#gkPopupLogin {
	margin-left: -160px;
	width: 320px;
}
.gkPopupWrap {
	padding: 28px;
}
.gkPopupWrap h3 {
	border-bottom: 1px solid #E7E7E7;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 24px;
	padding: 0 0 12px;
}
.gkPopupWrap h3 small {
	font-size: 14px;
}
#gkPopupOverlay {
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	height: 100%;
	left: 0;
	margin-left: 0;
	opacity: 0.45;
	top: 0;
	width: 100%;
	z-index: 1000001;
}

/* initial animation */
#gkPage > .box {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
#gkPage > .box.gkSidebarPreloader,
#gkPage > #gkContent.box {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
#gkPage > .box.loaded {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.box {
	transition: opacity 0.35s ease-in-out;
}

/* initial animation preloader */
#gkPage > .box.gkSidebarPreloader {
	text-indent: -9999em;
}
#gkPage > .box.gkSidebarPreloader > div {
	background: url('../images/loader.gif') no-repeat 10% 0;
	height: 7px;
}
#gkPage > .box.gkSidebarPreloader.loaded {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
#gkPage > .box.gkPreloaderFullWidth {
	width: 100%;
}

/* fix for the footer menu in the tablet devices */
html body[data-tablet="true"] {
	padding-bottom: 0!important;
}
body[data-tablet="true"] #gkFooter {
	bottom: 0!important;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-ms-box-sizing: content-box!important;
	-o-box-sizing: content-box!important;
	box-sizing: content-box!important;
	left: 0!important;
	margin: 0 0 -1px -16px!important;
	max-height: 41px;
	overflow: hidden;
	padding: 0 16px!important;
	position: relative!important;
	right: 0!important;
	top: 0!important;
}